<?xml version="1.0"?>
<config>
    <modules>
        <ReeCreate_PageTitle>
            <version>1.0.4</version>
        </ReeCreate_PageTitle>
    </modules>
    <global>
        <models>
            <ReeCreate_PageTitle>
                <class>ReeCreate_PageTitle_Model</class>
            </ReeCreate_PageTitle>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <ReeCreate_PageTitle>
                        <class>ReeCreate_PageTitle_Model_Observer</class>
                        <method>controller_action_layout_generate_blocks_after</method>
                    </ReeCreate_PageTitle>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
</config>