<?xml version="1.0"?>
<config>
    <modules>
        <ReeCreate_PageTitle>
            <version>1.0.0</version>
        </ReeCreate_PageTitle>
    </modules>
    <global>
        <models>
            <ReeCreate_PageTitle>
                <class>ReeCreate_PageTitle_Model</class>
            </ReeCreate_PageTitle>
        </models>
    </global>
    <frontend>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <ReeCreate_PageTitle>
                        <class>ReeCreate_PageTitle_Model_Observer</class>
                        <method>catalog_controller_product_view</method>
                    </ReeCreate_PageTitle>
                </observers>
            </catalog_controller_product_view>
        </events>
    </frontend>
</config>